//====================================================================================================
.footer {
	&__container {
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: calc(22px + (44 - 22) * ((100vw - 320px) / (1100 - 320)));
		padding-bottom: calc(11px + (22 - 11) * ((100vw - 320px) / (1100 - 320)));
		background-color: rgba(190, 190, 190, 0.6);
		border-radius: rem(60) rem(60) 0 0;
		border-top: 2px solid white;
		border-left: 2px solid white;
		border-right: 2px solid white;
	}
}

//====================================================================================================
